.aboutme{
  /* background-color: #CDE658; */
  background-color: #4352DC;
  padding: 120px 10px;
  text-align: center;
}

h1 {
  font-size: 60px;
  font-family: 'Major Mono Display', monospace;
  color: lightgrey;
}

.aboutme h2{
  font-family: 'Cutive Mono', monospace;
  color: lightgrey;
}
p{
  font-family: 'Cutive Mono', monospace;
}

.aboutme img {
  border-radius: 60%;
  width: 270px;
  height: 250px;
  line-height: 3;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
}
.btn-group button {
  background-color: grey; /* Green background */
  border: 1px solid white; /* Green border */
  color: white; /* White text */
  padding: 24px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  font-family: 'Cutive Mono', monospace;
  margin: auto;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #E9980D;
}

.center{
margin: 0;
position: absolute;
top: 95%;
right: 20%;
left: 40%;
}

.interest {
  background-color: #DBE0E4;
  padding: 120px 10px;

}
.interest h2{
  color: #4352DC;
  font-family: 'Cutive Mono', monospace;
  font-size: 30px;
  text-align: center;
}
ul {
  color: #4352DC;
  font-family: 'Cutive Mono', monospace;
  font-size: 21px;
  list-style: none;
  text-align: center;
  line-height: 2;
}
footer{
  background-color: white;
  padding: 50px 10px;
  color: #4352DC;
  font-family: 'Cutive Mono', monospace;
  text-align: center;
}
